body {
  background-color: black;
  text-align: center;
  color: white;
}


#myCanvas {
  background-image: url("https://cdn.glitch.global/8ea0fbfa-c77b-432d-936a-d5f4110ec5c1/nightsky.jpg?v=1736183731300");
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}

